<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <meta charset="utf-8">
        <link rel="icon" href="..\Resources\Images\favicon.png">
    </head>
    <body>
        <main>

        <h1>Blog</h1>

        <article>

            <h3>O essencial de design responsivo</h3>
            <time datetime="2014-06-15">15 de junho de 2014</time>

                <p>
                    Design responsivo tem ganho cada vez mais atenção como técnica de desenvolvimento de páginas web para dispositivos móveis. Mas como começar?
                </p>

        </article>

        <article>

                <h3>Por que fazer páginas acessíveis?</h3>
                <time datetime="2014-06-15">15 de junho de 2014</time>

                    <p>
                        Tem se falado cada vez sobre acessibilidade na web. Há diversas técnicas e diretivas a serem seguidas, inclusive da própria W3C. Mas vale a pena investir nisso?
                    </p>

        </article>

        <article>

                <h3>JavaScript não obstrusivo</h3>
                <time datetime="2014-06-15">15 de junho de 2014</time>

            <p>
                JavaScript é uma linguagem essencial hoje em dia para criar páginas ricas, interativas e dinâmicas. Porém, há alguns cuidados que devem ser tomados ao colocarmos código JavaScript em nossas páginas.
            </p>

        </article>

        <img src="..\Resources\Images\eu.jpg" alt="Foto de João da Silva">
        
        <aside>
            <h1>João da Silva</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                </ul>
            </nav>
        </aside>

        <footer>
            &copy; João da Silva
        </footer>

        <footer>
            Tags: <a href="#">javascript</a>, <a href="#">boas práticas</a>
        </footer>

    </main>

    </body>
</html>