body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform: uppercase;
}

p {
	text-align: justify;
	margin: 20px 0;
}

blockquote {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	margin: 20px 40px;
	font-style: italic; 
}

.fiat{
	float: right;
}

.petrobras{
	float: left;
}

aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
	float: right;
}

footer {
	background-color: #000;
	color: #F2FFFC;
	clear: both;
	position: fixed;
	width: 100%;
	bottom: 0;
}

nav a {
	color: #F2FFFC;
}

main a {
	color: #851944;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

aside ul li a {
	text-decoration: none;
}

.linksAside li a:hover{
	-webkit-filter: invert(100%) !important;
}
aside .iconesli li {
	display: inline-block;
	margin: 5px;
	padding-top: 10px;
}

blockquote, aside, footer {
    padding: 20px;
}

aside .iconesli li a{
	width: 40px;
	height: 40px;
	display: inline-block;
	color: transparent;
}

.twitter{
	background-image: url(../images/twitter.png);
	width: 40px;
	height: 40px;
}

.linkedin{
	background-image: url(../images/linkedin.png);
	width: 40px;
	height: 40px;
}

.github{
	background-image: url(../images/github.png);
	width: 40px;
	height: 40px;
}

.twitter:hover, .linkedin:hover, .github:hover{
	-webkit-filter: invert(100%) !important;
}

main div {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

aside{
	text-align: center;
	width: 16%;
	box-sizing: border-box;
	border: gray solid 6px;
	padding: 320px 10px 20px 10px;
}

aside h1 {
	font-size: 30px;
	margin-bottom: 15px;
	color: blanchedalmond;
	font-weight: bold;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h2 {
	font-size: 30px;
	clear: both;
}

main{
	float: left;
	width: 84%;
}

.fiat cite, .petrobras cite{
	float: right;
	padding: 10px;
	text-align: center;
}

img{
	position: absolute;
	right: 0;
	top: 0;
	border: gray solid 6px;
}

a:hover{
	-webkit-filter: invert(100%) !important;
}

.conteudoPrincipal{
	padding-bottom: 120px;
}